{% extends 'base.html' %}

{% block title %}{{ page.seo_title }}{% endblock %}
{% block description %}{{ page.seo_description }}{% endblock %}

{% block content %}
    <div class="uk-container uk-margin">
        <h2 class="uk-text-center uk-text-bold uk-heading-line"><span>{{ menu.category.name }}</span></h2>
        <div class="uk-flex uk-flex-center uk-flex-wrap uk-child-width-1-2 uk-child-width-1-4@m uk-grid-small uk-margin-top">
            {% for item in menu.category.items.all %}
                <div class="">
                    <a href="{{ item.get_url }}" title="{{ item.name }}">
                        <div class="ss-category-tile uk-border-rounded uk-overflow-hidden">
                            <div class="uk-cover-container">
                                <canvas height="270"></canvas>
                                <img src="{{ item.get_medium_img }}" uk-cover>
                                <div class="uk-overlay uk-light uk-position-bottom">
                                    <h3 class="uk-text-bold uk-h5">{{ item.name }}</h3>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="uk-container uk-margin">
        <h2 class="uk-text-center uk-text-bold uk-heading-line"><span>{{ menu.promo.name }}</span></h2>
        <div class="uk-flex uk-flex-center uk-flex-wrap uk-child-width-1-2 uk-child-width-1-4@m uk-grid-small uk-margin-top">
            {% for item in menu.promo.items.all %}
                <div class="">
                    <a href="{{ item.get_url }}" title="{{ item.name }}">
                        <div class="ss-category-tile uk-border-rounded uk-overflow-hidden">
                            <div class="uk-cover-container">
                                <canvas height="270"></canvas>
                                <img src="{{ item.get_medium_img }}" uk-cover>
                                <div class="uk-overlay uk-light uk-position-bottom">
                                    <h3 class="uk-text-bold uk-h5">{{ item.name }}</h3>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="uk-container uk-margin">
        <div class="uk-card uk-card-body uk-card-default uk-border-rounded">
            <h1 class="uk-text-center">{{ page.title }}</h1>
            <p>{{ page.content|safe }}</p>
        </div>
    </div>
{% endblock %}