.DS_Store
node_modules
/dist
venv

# local env files
.env
db.sqlite3
/media


# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# webpack-bundle-tracker
webpack-stats.json
webpack-prod-stats.json

package-lock.json

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
