{% extends 'base.html' %}

{% block title %}{{ category.seo_title }}{% endblock %}

{% block description %}{{ category.seo_description }}{% endblock %}

{% block content %}
    <div class="uk-container" style="min-height: 82vh">
        <product-list category-id="{{ category.id }}"></product-list>
        <div class="uk-card uk-card-body uk-card-default uk-border-rounded uk-margin uk-margin-bottom">
            <h1 class="uk-text-center">{{ category.name }}</h1>
            <p>{{ category.description|safe }}</p>
        </div>
    </div>
{% endblock %}