$sushi-color: #f14840;
$sushi-gradient: linear-gradient(45deg, #d2382c, #f14840);
$navbar-nav-item-height: 60px;
$navbar-item-color: #231F20;
$navbar-background: #ffffff;
$navbar-nav-item-color: #231F20;
$base-body-background: #f2f2f2;
$base-body-color: #231F20;
$button-text-border: $sushi-color;
$base-link-text-decoration: none;
$link-heading-hover-text-decoration: none;
$base-link-hover-text-decoration: none;
$base-link-hover-color: $sushi-color;
$heading-line-border: rgba(241, 72, 64, 0.61);
$button-primary-background: $sushi-color;
$card-default-color: #231F20;
$badge-background: $sushi-color;
$form-icon-color: $sushi-color;
$form-border: $sushi-color